body {
  font-family: "Inter-LK" !important;
  background: linear-gradient(225deg, rgba(42, 42, 42, 1) 0%, rgba(17, 17, 17, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

h1 {
  font-weight: 800;
}

h4 {
  font-weight: 500;
  font-size: 1em;
  margin-top: -0.2em;
  font-weight: 600;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

.lk-container {
  padding: 8em 1.5em 0 1.5em;
  max-width: 1000px;
}

.lk-title {
  margin-top: 1em;
}

.lk-subtitle {
  font-size: 1em;
  margin-top: -0.2em;
  margin-bottom: 3em;
}

.lk-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.lk-card {
  position: relative;
  background-color: #2a2a2a;
  border: 1px solid #555555;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  margin: 1em 0.5em 0 0.5em;
  padding: 1.5em;
}

.lk-card-icon {
  width: 20px;
  margin-left: 0.5em;
}

.lk-actions {
  text-decoration: none;
  color: #fff;
}

.lk-actions:hover {
  color: #e8eaed;
  cursor: pointer;
}

.lk-actions-title {
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: 12px !important;
  margin: 0 !important;
}
